<div class="box" data-hook="admin_zone_currencies_options_index_search">
	<h3>Options</h3>
	<ul class="sidebar" data-hook="admin_configurations_sidebar_menu">
	  <li<% if selected == "zone_currencies" %> class="active"<% end %>><a href="<%= admin_zone_currencies_path %>">Zone Currencies</a></li>
	  <li<% if selected == "currency_prices" %> class="active"<% end %>><a href="<%= admin_currency_prices_path %>">Currency Prices</a></li>
</div>